<h1><b>Mumbai Mirror Link Creator</b></h1>
<%= form_tag root_url, :method => :get do%>
<table>
  <tr>
	<td><b>From:</b></td><td><%= text_field_tag :from%></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td><b>To: </b></td><td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= text_field_tag :to%></td>
	 </tr>
	 
<tr>
   <td><%= submit_tag 'Generate' %></td>
 </tr>

 </table>
 <% end %>
 <table cellpadding="0" cellspacing="50" border="0">
 <thead>
 <tr>
 <th>Date</th>
 <th>Articles</th>
 <th>Videos</th>
 <th>Songs</th>
 <th>Tip</th>
 <th>Ablums</th>
 </tr>
 </thead>
<% if @records%>
 <tboby>
   <%@records.each do |record|%>
   <tr>
   <td><%= record[:date]%></td>
   <td><%=link_to record[:article_link], "http://#{record[:article_link]}", :id=>"article_#{record[:date]}", :date => record[:date]%></td>
   <td ><%=link_to record[:video_link], "http://#{record[:video_link]}", :id=>"video_#{record[:date]}", :date => record[:date]%></td>
   <td><%=link_to record[:song_link], "http://#{record[:song_link]}", :id=>"song_#{record[:date]}",:date => record[:date]%></td>
   <td><%=link_to record[:tip_link], "http://#{record[:tip_link]}", :id=>"tip_#{record[:date]}", :date => record[:date]%></td>
   <td><%=link_to record[:album_link], "http://#{record[:album_link]}", :id=>"album_#{record[:date]}", :date => record[:date]%></td>
   </tr>
   <% end %>
 </tbody>
<% end %>
 </table>

