<!DOCTYPE html>
<html>
<head>
  <title>MumbaiMirrorLinkCreator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:alert] %>
    <p class="flash-error" style="color:red"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"  style="color:green"><%= flash[:notice] %></p>
  <% end %>

<%= yield %>

</body>
</html>
